{% extends "base.html" %}


{% block content %}

    <div class="row">
        <div class="col-xs-12">
          <h4>Welcome to Pic Gridder, where you can make your pictures even more beautiful (or not) through the power of people!</h4>
          <p>Upload whatever photos you want, and grid it to create individual tiles for people to sign up to draw. At the end, you'll have a personalized collage made by your fellow users.</p>
        </div>
        <img src='static/img/logo.png' />
    </div>

{% endblock %}
